*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;  
 
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to right, #00b09b, #96c93d);

    fieldset{
        width: 60%;
        height: 60%;

        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1px);

        border-radius: 20px;
        border:1px solid rgba(255, 255, 255, 0.1);

        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);

        .form-login{
            display: none;
        }
    }
}
